<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjx.server.mapper.MeetingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjx.server.pojo.Meeting">
        <id column="id" property="id" />
        <result column="uuid" property="uuid" />
        <result column="title" property="title" />
        <result column="creator_id" property="creatorId" />
        <result column="date" property="date" />
        <result column="place" property="place" />
        <result column="start" property="start" />
        <result column="end" property="end" />
        <result column="type" property="type" />
        <result column="members" property="members" />
        <result column="desc" property="desc" />
        <result column="instance_id" property="instanceId" />
        <result column="present" property="present" />
        <result column="unpresent" property="unpresent" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uuid, title, creator_id, date, place, start, end, type, members, desc, instance_id, present, unpresent, status, create_time
    </sql>

    <!--  查找会议室（分页）  -->
    <select id="searchOfflineMeetingByPage" parameterType="HashMap" resultType="HashMap">
        SELECT mr.name, temp.meeting FROM t_meeting_room mr
        LEFT JOIN  (
        SELECT place,
        CONCAT(
        "[",
        GROUP_CONCAT(
        JSON_OBJECT(
        'start', DATE_FORMAT(start,'%H:%i'),
        'end', DATE_FORMAT(end,'%H:%i'),
        'status', `status`,
        'time', ROUND(timestampdiff(MINUTE,CONCAT(date," ",start),CONCAT(date," ",end))/30)
        )
        ),
        "]"
        ) AS meeting
        FROM t_meeting
        WHERE type = 2 AND `status` != 2 AND date = #{date}
        <if test="mold=='我的会议'">
            AND JSON_CONTAINS(members, CAST(#{userId} AS CHAR))
        </if>
        GROUP BY place
        ) temp ON mr.name=temp.place
        WHERE mr.`status`=1
        LIMIT #{start}, #{length}
    </select>

    <select id="searchOfflineMeetingCount" parameterType="HashMap" resultType="long">
        SELECT COUNT(*)
        FROM t_meeting_room
        WHERE status=1
    </select>

</mapper>
